{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="page-title">Все публикации</h1>
    
    <div class="posts-container">
        {% for post in posts %}
            <div class="post-card">
                
                <div class="post-image-box">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Обложка">
                    {% else %}
                        <div class="no-image">No Photo</div>
                    {% endif %}
                </div>
                
                <div class="post-content-box">
                    <div class="post-card-body">
                        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                        <p class="post-text">{{ post.content|truncatewords:30 }}</p>
                    </div>
                    
                    <div class="post-card-footer">
                        {% if post.author %}
                            <a href="{% url 'profile' post.author.username %}" class="post-author-block">
                                <div class="author-mini-avatar">
                                    {% if post.author.photo %}
                                        <img src="{{ post.author.photo.url }}" alt="">
                                    {% else %}
                                        <span>{{ post.author.username|slice:":1"|upper }}</span>
                                    {% endif %}
                                </div>
                                <span class="author-name">{{ post.author.username }}</span>
                            </a>
                        {% else %}
                            <div class="post-author-block">
                                <div class="author-mini-avatar">
                                    <span>?</span>
                                </div>
                                <span class="author-name text-muted">Удаленный пользователь</span>
                            </div>
                        {% endif %}
                        
                        <div class="post-footer-right">
                            <span class="post-date-badge">{{ post.created_at|date:"d.m.Y H:i" }}</span>
                        </div>
                    </div>
                </div>

            </div>
        {% empty %}
            <div style="text-align: center; padding: 40px; background: var(--bg-card); border: 1px solid var(--border-color); border-radius: 12px; color: var(--text-muted);">
                Статей пока нет.
            </div>
        {% endfor %}
    </div>
{% endblock %}